<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
  <link rel="stylesheet" href="/productForm.css">
</head>
<body>
  <h2>Add New Product</h2>
  <form action="/products/add" enctype="multipart/form-data" method="post">
    
    <label for="title">Title</label><br>
    <input type="text" name="title" placeholder="Enter product title" required> <br><br>

    <label for="image">Image</label><br>
    <input type="file" name="image" accept="image/*" required> <br><br>

    <label for="description">Description</label><br>
    <input type="text" name="description" placeholder="Enter product description" required> <br><br>

    <label for="category">Category</label><br>
    <input type="text" name="category" placeholder="Enter product category" required> <br><br>

    <label for="price">Price</label><br>
    <input type="number" name="price" placeholder="Enter product price" required> <br><br>

    <div class="btn">
      <button type="submit">Submit</button>
    </div>
    
  </form>
</body>
</html>
